ul
  li.tmp
    ol.menu.user
      li.theme
        theme-switch

      //- each v, route in nav.office
      //-   li(class=v.name class=v.class)
      //-     office-user(href=v.url text=v.text, active=v.class)
      //-     a(href=v.url)
      //-       span #{v.text}

      //- li.signin
      //-   a(href="/signin")
      //-     span Signin
      //- li.signup
      //-   a(href="/signup")
      //-     span Signup
