extends layout
block content
  div.ptl#content
    div.resz.cetr
      include search-modest
      div.wrapper
        div.row.text-center
          h1
            = info.header
            |
            | -
            |
            span.myanmar Myanmar
            = " "
            span dictionary
          each desc in info.context
            p.description= desc
          p.dated= dated
          each o in info.progress
            if o.percentage
              div.progress.percentage
                div(title=o.my)
                  span= o.en
                  span= o.status
                div(style={width:o.status+'%'})
            else if (o.status)
              div.progress.status
                div(title=o.my)
                  span= o.en
                  span= o.status
          p.feedback
            | Any creative
            |
            form-links(type="feedback" text="ideas")
            |
            | and missing
            |
            form-links(type="suggestion" text="words & definitions")
            |
            | can be sent via Google Forms.


        div.row
          div.header.text-center
            h2 Dictionaries
          div.dictionaries
            ol
              each conti in dictionaries
                li(class=conti.name.toLowerCase() class={active: conti.lang.find(e=>e.id == sol.id)})
                  h3(title=conti.my) #{conti.name}
                  ol
                    each lang in conti.lang
                      li(class=lang.id class={active: lang.id == sol.id})
                        a(data-lag=lang.id href='/dictionary/'+lang.name.toLowerCase() title=lang.my) #{lang.name}
