div.modest
  div.logo
    ol.menu.dictionary#MyOrdbok-logo(data-lang=sol.id)
      each v, route in nav.dictionary
        li(class=v.route class={active: v.active})
          a(href=v.url.replace(':id',sol.name.toLowerCase()).replace('?',''))
            span #{sol.my}
            | -
            span မြန်မာ
  div.search
    each v, route in nav.definition
      form(name='search' method='get' action=v.url ref="form" v-bind:class="hasActive" @submit.prevent="input_submit")
        p
          input(
            type="search" ref="input" name="q" placeholder=" ...Search" autocomplete="off"
            v-model = "dataStore.q"
            @keydown.down = "arrow_down"
            @keydown.up = "arrow_up"
            @input = "input_change"
            @focus = "input_focus"
            @click = "input_click"
            @blur = "input_blur"
          )
        p
          button(type="submit" id="search") &#xe83d;

        ul(v-if=hasFocus)
          li(
            v-for="(word,index) in dataStore.suggests" :key="index"
            class="hover-active"
            v-bind:class = "{'selected': isCurrent(index)}"
            @mousemove = "suggestion_hover(index)"
            @click = "suggestion_click(word)"
            v-html = "wordHighlight(word)"
          )
