div.sch-definition.testing(v-bind:class="hasActive")
  each v, route in nav.definition
    form(name='search' method='get' action=v.url ref="form" v-bind:class="hasActive" @submit.prevent="input_submit")
      div
        p.sch-unfocus
          //- span.icon-slim-left( @click = "input_unfocus")
          button.icon-slim-left(type="button" @click = "input_unfocus")
        p.sch-input
          input(
            type="search" ref="input" name="q" placeholder=" ...Search" autocomplete="off"
            v-model = "dataStore.q"
            @keydown.down = "arrow_down"
            @keydown.up = "arrow_up"
            @input = "input_change"
            @focus = "input_focus"
            @click = "input_click"
            @blur = "input_blur"
          )
        p.sch-submit
          //- button(type="submit" id="search") &#xe83d;
          button.icon-lookup(type="submit" id="search")

      div(v-if=hasFocus)
        ul
          li(
            v-for="(word,index) in dataStore.suggests" :key="index"
            class="hover-active"
            v-bind:class = "{'selected': isCurrent(index)}"
            @mousemove = "suggestion_hover(index)"
            @click = "suggestion_click(word)"

          )
            span.icon-dot3
            span(v-html = "wordHighlight(word)")
